In [3]:
import yfinance as yf
ticker = 'TSLA'
tesla_stock = yf.Ticker(ticker)
historical_data = tesla_stock.history(period="1y")
historical_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-03-15 00:00:00-04:00,163.160004,165.179993,160.759995,163.570007,96971900,0.0,0.0
2024-03-18 00:00:00-04:00,170.020004,174.720001,165.899994,173.800003,108214400,0.0,0.0
2024-03-19 00:00:00-04:00,172.360001,172.820007,167.419998,171.320007,77271400,0.0,0.0
2024-03-20 00:00:00-04:00,173.000000,176.250000,170.820007,175.660004,83846700,0.0,0.0
2024-03-21 00:00:00-04:00,176.389999,178.179993,171.800003,172.820007,73178000,0.0,0.0